In [125]:
import os 
import pandas as pd
import numpy as np

In [126]:
os.chdir("D:/GreyAtom/Hackathon/hotstar_dataset")
df = pd.read_json("train_data.json")

In [127]:
dfT = df.T
dfT.head()

,cities,dow,genres,segment,titles,tod
train-121672,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",neg,"Wild Sex:79,Vintage Dhoni Comes Good with 134:...","18:1372,21:1862,17:320"
train-121673,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",neg,"Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936..."
train-121670,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",neg,"India vs Australia 1st Test Hindi:83,India vs ...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2..."
train-121671,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",neg,"Rangoon:77,India A vs England XI:3883,Kaabil:122","10:122,12:77,15:1800,14:0,16:2083"
train-121676,"bangalore:5135,krishnarajapura:529,hosur:2864","1:6150,3:2378",TalkShow:8529,pos,Koffee With Karan:8529,"20:529,21:1257,22:4930,23:538,19:1268,18:6"

In [128]:
dfT["titles"]=dfT["titles"].str.split(",")
dfT["titles_count"]=dfT["titles"].apply(lambda x:len(x))

In [129]:
dfT.head()

,cities,dow,genres,segment,titles,tod,titles_count
train-121672,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",neg,"[Wild Sex:79, Vintage Dhoni Comes Good with 13...","18:1372,21:1862,17:320",9
train-121673,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",neg,"[Naamkarann:369, Ishq:59, Pardes Mein Hai Mera...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",33
train-121670,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",neg,"[India vs Australia 1st Test Hindi:83, India v...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",17
train-121671,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",neg,"[Rangoon:77, India A vs England XI:3883, Kaabi...","10:122,12:77,15:1800,14:0,16:2083",3
train-121676,"bangalore:5135,krishnarajapura:529,hosur:2864","1:6150,3:2378",TalkShow:8529,pos,[Koffee With Karan:8529],"20:529,21:1257,22:4930,23:538,19:1268,18:6",1

In [130]:
Metros = ["mumbai", "gurgaon", "kolkata", "delhi", "chennai", "bangalore", "pune", "hyderabad", "new delhi", "delhi", "navi mumbai"]

dfT["city_only"] = dfT["cities"].apply(lambda x: [i.rsplit(":")[0] for i in x.rsplit(",")])
dfT["metro"] = dfT["city_only"].apply(lambda x: sum([1 for i in x if i in Metros]))
dfT['non_metro'] = dfT['city_only'].apply(lambda x: sum([1 for i in x if i not in Metros]))

In [131]:
dfT.head()

,cities,dow,genres,segment,titles,tod,titles_count,city_only,metro,non_metro
train-121672,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",neg,"[Wild Sex:79, Vintage Dhoni Comes Good with 13...","18:1372,21:1862,17:320",9,"[delhi, mumbai]",2,0
train-121673,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",neg,"[Naamkarann:369, Ishq:59, Pardes Mein Hai Mera...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",33,"[ahmedabad, mumbai]",1,1
train-121670,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",neg,"[India vs Australia 1st Test Hindi:83, India v...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",17,[navi mumbai],1,0
train-121671,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",neg,"[Rangoon:77, India A vs England XI:3883, Kaabi...","10:122,12:77,15:1800,14:0,16:2083",3,"[chennai, navi mumbai, mumbai]",3,0
train-121676,"bangalore:5135,krishnarajapura:529,hosur:2864","1:6150,3:2378",TalkShow:8529,pos,[Koffee With Karan:8529],"20:529,21:1257,22:4930,23:538,19:1268,18:6",1,"[bangalore, krishnarajapura, hosur]",1,2

In [132]:
dfT["final_hour"] = dfT["tod"].apply(lambda x: [i.rsplit(":")[0] for i in x.rsplit(",")])

dfT["Morning Viewer"] = dfT["final_hour"].apply(lambda x: sum([1 for i in x if int(i)<=12]))
dfT["Afternoon Viewers"] = dfT["final_hour"].apply(lambda x: sum([1 for i in x if int(i)>12 and int(i)<17]))
dfT["Evening Viewers"] = dfT["final_hour"].apply(lambda x:sum([1 for i in x if int(i)>=17 and int(i)<20]))
dfT["Night Viewers"] = dfT["final_hour"].apply(lambda x: sum([1 for i in x if int(i)>=20 and int(i)<=24]))

In [133]:
dfT.head()

,cities,dow,genres,segment,titles,tod,titles_count,city_only,metro,non_metro,final_hour,Morning Viewer,Afternoon Viewers,Evening Viewers,Night Viewers
train-121672,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",neg,"[Wild Sex:79, Vintage Dhoni Comes Good with 13...","18:1372,21:1862,17:320",9,"[delhi, mumbai]",2,0,"[18, 21, 17]",0,0,2,1
train-121673,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",neg,"[Naamkarann:369, Ishq:59, Pardes Mein Hai Mera...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",33,"[ahmedabad, mumbai]",1,1,"[11, 10, 13, 12, 20, 21, 17, 16, 19, 18, 23, 2...",7,4,3,4
train-121670,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",neg,"[India vs Australia 1st Test Hindi:83, India v...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",17,[navi mumbai],1,0,"[11, 10, 13, 12, 20, 14, 22, 23, 19, 18, 8, 7,...",7,3,2,4
train-121671,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",neg,"[Rangoon:77, India A vs England XI:3883, Kaabi...","10:122,12:77,15:1800,14:0,16:2083",3,"[chennai, navi mumbai, mumbai]",3,0,"[10, 12, 15, 14, 16]",2,3,0,0
train-121676,"bangalore:5135,krishnarajapura:529,hosur:2864","1:6150,3:2378",TalkShow:8529,pos,[Koffee With Karan:8529],"20:529,21:1257,22:4930,23:538,19:1268,18:6",1,"[bangalore, krishnarajapura, hosur]",1,2,"[20, 21, 22, 23, 19, 18]",0,0,2,4

In [134]:
weekdays = [2, 3, 4, 5, 6]
dfT["dow_list"] = dfT["dow"].apply(lambda x: [i.rsplit(":")[0] for i in x.rsplit(",")])

# dfT["Sunday"] = dfT["dow_list"].apply(lambda x: sum([1 for i in x if int(i) == 1]))
# dfT["Monday"] = dfT["dow_list"].apply(lambda x: sum([1 for i in x if int(i) == 2]))
# dfT["Tuesday"] = dfT["dow_list"].apply(lambda x: sum([1 for i in x if int(i) == 3]))
# dfT["Wednesday"] = dfT["dow_list"].apply(lambda x: sum([1 for i in x if int(i) == 4]))
# dfT["Thursday"] = dfT["dow_list"].apply(lambda x: sum([1 for i in x if int(i) == 5]))
# dfT["Friday"] = dfT["dow_list"].apply(lambda x: sum([1 for i in x if int(i) == 6]))
# dfT["Saturday"] = dfT["dow_list"].apply(lambda x: sum([1 for i in x if int(i) == 7]))

dfT["Weekday"] = dfT["dow_list"].apply(lambda x: sum([1 for i in x if int(i) in weekdays]))
dfT["Weekend"] = dfT["dow_list"].apply(lambda x: sum([1 for i in x if int(i) not in weekdays]))

In [135]:
dfT.head()

,cities,dow,genres,segment,titles,tod,titles_count,city_only,metro,non_metro,final_hour,Morning Viewer,Afternoon Viewers,Evening Viewers,Night Viewers,dow_list,Weekday,Weekend
train-121672,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",neg,"[Wild Sex:79, Vintage Dhoni Comes Good with 13...","18:1372,21:1862,17:320",9,"[delhi, mumbai]",2,0,"[18, 21, 17]",0,0,2,1,"[5, 4, 7]",2,1
train-121673,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",neg,"[Naamkarann:369, Ishq:59, Pardes Mein Hai Mera...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",33,"[ahmedabad, mumbai]",1,1,"[11, 10, 13, 12, 20, 21, 17, 16, 19, 18, 23, 2...",7,4,3,4,"[1, 3, 2, 5, 4, 7, 6]",5,2
train-121670,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",neg,"[India vs Australia 1st Test Hindi:83, India v...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",17,[navi mumbai],1,0,"[11, 10, 13, 12, 20, 14, 22, 23, 19, 18, 8, 7,...",7,3,2,4,"[1, 3, 2, 5, 4, 7, 6]",5,2
train-121671,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",neg,"[Rangoon:77, India A vs England XI:3883, Kaabi...","10:122,12:77,15:1800,14:0,16:2083",3,"[chennai, navi mumbai, mumbai]",3,0,"[10, 12, 15, 14, 16]",2,3,0,0,"[1, 2, 5]",2,1
train-121676,"bangalore:5135,krishnarajapura:529,hosur:2864","1:6150,3:2378",TalkShow:8529,pos,[Koffee With Karan:8529],"20:529,21:1257,22:4930,23:538,19:1268,18:6",1,"[bangalore, krishnarajapura, hosur]",1,2,"[20, 21, 22, 23, 19, 18]",0,0,2,4,"[1, 3]",1,1

In [136]:
Sports = ['Cricket', 'Football', 'Badminton', 'Sport', 'Formula1', 'Hockey', 'Kabaddi', 'Table Tennis', 'Tennis', 'Volleyball', 'Athletics', 'FormulaE', 'Boxing', 'Swimming', 'IndiaVsSa']
Television = ['Wildlife', 'LiveTV', 'TalkShow', 'Reality', 'Awards', 'Travel', 'Science', 'Documentary', 'Mythology', 'Kids']
Movies = ['Drama', 'Family', 'Crime', 'Romance', 'Action', 'Comedy', 'Thriller', 'Teen', 'Horror', 'NA']

dfT["genres_list"] = dfT["genres"].apply(lambda x: [i.rsplit(":")[0] for i in x.rsplit(",")])

# genres_count = {}
# for i in dfT['genres']:
#     for j in (i.split(',')):
#         if j.split(':')[0] not in genres_count:
#              genres_count[j.split(':')[0]]= 1
#         else:
#              genres_count[j.split(':')[0]] += 1

# for key, value in genres_count.items():
#     dfT[key] = ""
#     dfT[key] = dfT["genres_list"].apply(lambda x: sum([1 for i in x if i == key]))

dfT['Sports'] = dfT["genres_list"].apply(lambda x: sum([1 for i in x if i in Sports]))
dfT['Television'] = dfT["genres_list"].apply(lambda x: sum([1 for i in x if i in Television]))
dfT['Movies'] = dfT["genres_list"].apply(lambda x: sum([1 for i in x if i in Movies]))

In [137]:
dfT.head()

,cities,dow,genres,segment,titles,tod,titles_count,city_only,metro,non_metro,...,Afternoon Viewers,Evening Viewers,Night Viewers,dow_list,Weekday,Weekend,genres_list,Sports,Television,Movies
train-121672,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",neg,"[Wild Sex:79, Vintage Dhoni Comes Good with 13...","18:1372,21:1862,17:320",9,"[delhi, mumbai]",2,0,...,0,2,1,"[5, 4, 7]",2,1,"[Drama, Cricket, Wildlife]",1,1,1
train-121673,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",neg,"[Naamkarann:369, Ishq:59, Pardes Mein Hai Mera...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",33,"[ahmedabad, mumbai]",1,1,...,4,3,4,"[1, 3, 2, 5, 4, 7, 6]",5,2,"[Drama, Family, Crime, Romance, Action, Comedy]",0,0,6
train-121670,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",neg,"[India vs Australia 1st Test Hindi:83, India v...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",17,[navi mumbai],1,0,...,3,2,4,"[1, 3, 2, 5, 4, 7, 6]",5,2,"[Cricket, Family, Drama, LiveTV, Action, Comedy]",1,1,4
train-121671,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",neg,"[Rangoon:77, India A vs England XI:3883, Kaabi...","10:122,12:77,15:1800,14:0,16:2083",3,"[chennai, navi mumbai, mumbai]",3,0,...,3,0,0,"[1, 2, 5]",2,1,"[Romance, Drama, Cricket]",1,0,2
train-121676,"bangalore:5135,krishnarajapura:529,hosur:2864","1:6150,3:2378",TalkShow:8529,pos,[Koffee With Karan:8529],"20:529,21:1257,22:4930,23:538,19:1268,18:6",1,"[bangalore, krishnarajapura, hosur]",1,2,...,0,2,4,"[1, 3]",1,1,[TalkShow],0,1,0

In [138]:
dfT["viewing_time_only"]=dfT["tod"].apply(lambda x: [i.split(":")[1] for i in x.split(",")])
dfT["Summed_time"]=dfT["viewing_time_only"].apply(lambda x: sum([int(i) for i in x ]))

dfT["Total_Genre_Count"] = dfT["Sports"] + dfT["Television"] + dfT["Movies"]

In [139]:
dfT.head()

,cities,dow,genres,segment,titles,tod,titles_count,city_only,metro,non_metro,...,dow_list,Weekday,Weekend,genres_list,Sports,Television,Movies,viewing_time_only,Summed_time,Total_Genre_Count
train-121672,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",neg,"[Wild Sex:79, Vintage Dhoni Comes Good with 13...","18:1372,21:1862,17:320",9,"[delhi, mumbai]",2,0,...,"[5, 4, 7]",2,1,"[Drama, Cricket, Wildlife]",1,1,1,"[1372, 1862, 320]",3554,3
train-121673,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",neg,"[Naamkarann:369, Ishq:59, Pardes Mein Hai Mera...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",33,"[ahmedabad, mumbai]",1,1,...,"[1, 3, 2, 5, 4, 7, 6]",5,2,"[Drama, Family, Crime, Romance, Action, Comedy]",0,0,6,"[7726, 3521, 2067, 3844, 4608, 9360, 5734, 443...",83635,6
train-121670,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",neg,"[India vs Australia 1st Test Hindi:83, India v...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",17,[navi mumbai],1,0,...,"[1, 3, 2, 5, 4, 7, 6]",5,2,"[Cricket, Family, Drama, LiveTV, Action, Comedy]",1,1,4,"[302, 1594, 331, 133, 3802, 3083, 2219, 2111, ...",29396,6
train-121671,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",neg,"[Rangoon:77, India A vs England XI:3883, Kaabi...","10:122,12:77,15:1800,14:0,16:2083",3,"[chennai, navi mumbai, mumbai]",3,0,...,"[1, 2, 5]",2,1,"[Romance, Drama, Cricket]",1,0,2,"[122, 77, 1800, 0, 2083]",4082,3
train-121676,"bangalore:5135,krishnarajapura:529,hosur:2864","1:6150,3:2378",TalkShow:8529,pos,[Koffee With Karan:8529],"20:529,21:1257,22:4930,23:538,19:1268,18:6",1,"[bangalore, krishnarajapura, hosur]",1,2,...,"[1, 3]",1,1,[TalkShow],0,1,0,"[529, 1257, 4930, 538, 1268, 6]",8528,1

In [140]:
dfT = dfT.drop(['cities'],1)

In [141]:
dfT=dfT.drop(['dow','genres','titles','tod','city_only','final_hour','viewing_time_only','dow_list'],1)

In [142]:
dfT=dfT.drop(['genres_list'],1)

In [143]:
dfT.head()

,segment,titles_count,metro,non_metro,Morning Viewer,Afternoon Viewers,Evening Viewers,Night Viewers,Weekday,Weekend,Sports,Television,Movies,Summed_time,Total_Genre_Count
train-121672,neg,9,2,0,0,0,2,1,2,1,1,1,1,3554,3
train-121673,neg,33,1,1,7,4,3,4,5,2,0,0,6,83635,6
train-121670,neg,17,1,0,7,3,2,4,5,2,1,1,4,29396,6
train-121671,neg,3,3,0,2,3,0,0,2,1,1,0,2,4082,3
train-121676,pos,1,1,2,0,0,2,4,1,1,0,1,0,8528,1

In [144]:
dfT['segment']=dfT['segment'].replace('neg',0).replace('pos',1)

In [145]:
dfT.head()

,segment,titles_count,metro,non_metro,Morning Viewer,Afternoon Viewers,Evening Viewers,Night Viewers,Weekday,Weekend,Sports,Television,Movies,Summed_time,Total_Genre_Count
train-121672,0,9,2,0,0,0,2,1,2,1,1,1,1,3554,3
train-121673,0,33,1,1,7,4,3,4,5,2,0,0,6,83635,6
train-121670,0,17,1,0,7,3,2,4,5,2,1,1,4,29396,6
train-121671,0,3,3,0,2,3,0,0,2,1,1,0,2,4082,3
train-121676,1,1,1,2,0,0,2,4,1,1,0,1,0,8528,1